<!DOCTYPE html>
<html>
  <head>
    <title>aliker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
 <body style="padding-top:70px;">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">aliker</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <form role="form" id="post-form">
        <div class="form-group">
          <input type="text" id="post-input" class="form-control" placeholder="Tumblr Post URL">
        </div>
      </form>
      <div id="status">
      </div>
      <div id="substatus">
      </div>

      <div id="content">

      </div>
    </div>

    <script type="text/javascript">

     var Aliker = function(path) {
       // PID -> PostObject
       var _posts = {};

       // What to do when a message is received, by type
       // These are in approximate expected order of receipt
       var messageDispatchTable = {
         // Beginning to find posts like the one given
         // keys: base-hostname pid
         "process-post" : function(msg) {
           var bhn = msg['base-hostname'];
           var pid = msg['pid'];
         },

         // Each blog that likes a particular post
         // keys: msg-type blogs
         // blogs is []string, just base hostnames
         "blogs-liking-post" : function(msg) {
         },

         // Beginning to enumerate one post liker's likes
         // keys: blog
         "process-blog" : function(msg) {
         },

         // One page (<=20) of the post liker's likes
         // keys: blog likes[post]
         "blog-likes" : function(msg) {
         },

         // Operation is finished
         // keys: similarities (map postId -> numberSimilarLikes)
         "post-similarities" : function(msg) {
           var postIdSimilarities = msg['similarities'];
           // Get the post objects given the IDs from _posts
           //var postSimilarities =

           // Inject the similarity (value) into the key
         },

         // Any error condition (reset everything and display message)
         "error" : function(msg) {
         },
       }

       var processMessage = function(msg) {
         var type = msg['msg-type'];
       }
     }


      $('#post-form').submit(function() {
       console.log("submitted!");
       postUri = $("#post-input").val();
       var conn = new WebSocket('ws://lacecard.com:3000/post');
       conn.onopen = function(evt) {
         var packet = JSON.stringify({
           postUri: postUri,
         });
         console.log('sending: ' + packet)
         conn.send(packet);
       };
       conn.onclose = function(evt) {
         console.log('closed!'+evt.data);
       };
       conn.onmessage = function(evt) {
         var msg = evt.data;
         $("#content").append($("<div/>").text(msg));
         // Invoke appropriate handler

       };
       conn.onerror = function(evt) {
         console.log('error:'+evt.data);
       };
       return false;
     });

    </script>
  </body>
</html>
